#login {
    background-color: lightgray;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    text-align: center;
    padding: 7px;
    border: 0.1rem solid black;
    box-shadow: 10px 20px black;
}

#submit-button__login {
    margin-top: 0.7rem;
}

#login span {
    color: red;
}

