#interest-calculator {
    background-color: lightgray;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-80%, -50%);
    height: 31rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    text-align: center;
    padding: 7px;
    border: 0.1rem solid black;
    box-shadow: 10px 20px var(--black-shadow);
}

.calc-button {
    background-color: var(--light-violet-color);
    color: azure;
    font-size: 1.2rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-color: rgba(63, 22, 139, 1);
    margin-top: 0.7rem;
}

.result {
    width: 100%;
    word-wrap: break-word;
}

.result p {
    font-size: 1.5rem;
}

#currency-label {
    margin-right: 1rem;
}

#currency {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

select {
    height: 2.5rem;
    padding: 0 0 0 0.5rem;
}

input {
    border-radius: 0.5rem;
    height: 2rem;
    padding: 0.5rem;
}

form {
    margin-bottom: 0.5rem;
}