
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 22, 139);
    color: white;
    text-align: center;
}

footer h1 {
    font-size: 1rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.05rem 2rem;
    padding: 0.05rem 2rem;
    margin-top: -0.5rem;
    margin-bottom: 0.3rem;
}

.footer-content a {
    color: azure;
    text-decoration: none;
    
}

.copyright {
    background-color: rgb(43, 17, 93);
}

.copyright p {
    font-size: 1rem;
}